body{
    margin: 0px;
    padding: 0px;
}
p{
    margin:0px;
    font-size:1rem;
}

.button{
    background-color:red;
    background-image: linear-gradient(to right, #1F1F1F, #A09C9C);
    border:none;
    color:white;
    padding:25px 32px;
    text-decoration:none;
    cursor:pointer;
    text-align:center;
    width:35%;
    font-weight:bold;
    font-size:2rem;
    font-family: 'Open Sans', sans-serif;
    border-radius: 50px;
    margin:35px auto;
    
}
.button:hover{
    opacity:0.8;
    font-weight:bolder;
}

.intro{
    background-image: url("afbeeldingen/SilAlpen.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 85vh;
    margin:0px;
    padding:0px;
    position:relative;
}
.head-logo{
    background-image: url(/afbeeldingen/Logo.png);

}

.head-tekst-mid{
    top:50%;
    left: 50%;
    position:absolute;
    transform:translate(-50%, -50%);
    background-color: white;
    padding: 10px 25px;
    font-family:'Dela Gothic One', cursive;
    font-size:4rem;
}
.grid-main{
    display:grid;
    grid-template-columns: 66% 34%;
}
.grid-mid{
    grid-column: 1;
}
.grid-right{
    grid-column:2;
    height:800px;
    background-color:black;
    color:white;
}
.head-over-mij{
    padding:80px;
    font-family: 'Open Sans', sans-serif;
    padding-right: 250px;
    font-size:1rem;
}
.head-over-mij h1{
    font-family: 'Oswald', sans-serif;
    font-weight:700;
    font-size:3rem;
}
.knop1{
    margin:100px;
    font-size:1rem;
    font-family: 'Open Sans', sans-serif;
}
.leerdoelen-main{
    height: 100px;
    padding:0px;
    text-align:center;
    font-size:3rem;
}
.imagine{
    width:400px;
    margin-top:100px;
    margin-left:-150px;
}
.ld-intro{
    margin:0px;
}

.ld-intro a{
    text-decoration: none;
    color:black;
    font-size:5rem;
    font-family: 'Oswald', sans-serif;
    font-weight:500;
}
.ld-intro a:hover{
    color:gray;
    text-decoration:underline gray;
}
.ldAfb{
    display:flex;
    align-items: center;
    justify-content: center;
}
.afb img{
    width:100px;
    transition:500ms;
}
.afb img:hover{
    width:125px;
    opacity: 0.8;
    transition:500ms;
}

.afb{
    margin:30px auto;
    width:400px;
}
.afbTekst{
    font-family: 'Oswald', sans-serif;
    font-weight:500;
    font-size:2rem;
}

.leegte{
    height:75px;
}